[branch]
	autosetuprebase = always
[rebase]
	autosquash = true
[core]
	editor = code --wait
	attributesfile = /home/krzyzak/.gitattributes
[push]
	default = simple
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
[user]
	name = Michał Krzyżanowski
	email = krzyzak@users.noreply.github.com
[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[delta]
    file-decoration-style = none
    file-style = omit
    hunk-header-decoration-style = "#00b494" box ul
    hunk-header-file-style = "#999999"
    hunk-header-line-number-style = bold "#03a4ff"
    hunk-header-style = file line-number syntax
    plus-style = "syntax #012800"
    minus-style = "syntax #340001"
    syntax-theme = OneHalfDark
    navigate = true
    side-by-side = true
[interactive]
    diffFilter = delta --color-only
[includeIf "gitdir:~/projects/toptal/"]
  path = ~/projects/toptal/.gitconfig
[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[init]
	defaultBranch = master
