[branch]
	autosetuprebase = always
[rebase]
	autosquash = true
[core]
	editor = code --wait
	attributesfile = /home/krzyzak/.gitattributes
[push]
	default = simple
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
[user]
	name = Michał Krzyżanowski
	email = michal.krzyzanowski+github@gmail.com
[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[delta]
    plus-style = "syntax #012800"
    minus-style = "syntax #340001"
    syntax-theme = Monokai Extended
    navigate = true
    side-by-side = true
[interactive]
    diffFilter = delta --color-only
[includeIf "gitdir:~/projects/toptal/"]
  path = ~/projects/toptal/.gitconfig
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
