[G0]
timername=Interview
time=3600
timercommand=
timerinfo=1h 0m 0s
is_countdown=true

[G1]
timername=Interview 1.5h
time=5400
timercommand=
timerinfo=1h 30m 0s
is_countdown=true

[G2]
timername=Pomodoro
time=1680
timercommand=
timerinfo=28m 0s
is_countdown=true

[others]
nowin_if_alarm=false
selecting_starts=false
use_global_command=false
global_command=
repeat_alarm=false
repetitions=1
repeat_interval=10

